accelerate
datasets
evaluate
fire
git+https://github.com/jopetty/abstract_algebra
git+https://github.com/jopetty/sfirah
ipykernel
numpy
numpy
polars
pre-commit
pydotenv
pyrootutils
scikit-learn
tokenizers
torch
torcheval
tqdm
wandb
